ENV=development
HOSTNAME=http://localhost:5173
DB_URI=postgresql://postgres:postgres@127.0.0.1:8081/dev_db
LOAD_MODEL=false
SMTP__FROM_EMAIL_ADDRESS=no-reply@example.com
GOOGLE_OAUTH2_CREDS__CLIENT_ID=dummy-client-id
GOOGLE_OAUTH2_CREDS__CLIENT_SECRET=dummy-client-secret