ENV=development
HOSTNAME=http://localhost:5173
FRONTEND_HOSTNAME=http://localhost:5173
DB_URI=postgresql://postgres:postgres@127.0.0.1:8081/dev_db
LOAD_MODEL=false
OAUTH_STATE_SESSION_SECRET_KEY=mqYtW08wDocAqw==
SMTP__FROM_EMAIL_ADDRESS=no-reply@example.com
GOOGLE_OAUTH2_CREDS__CLIENT_ID=dummy-client-id
GOOGLE_OAUTH2_CREDS__CLIENT_SECRET=dummy-client-secret  # put it to /run/secrets/google_oauth2_creds__client_secret in production